[Desktop Entry]
Type=Application
Name=FMD
GenericName=Markdown Writer
Comment=Fred's Markdown writing workspace
Exec=fmd %f
Icon=fmd
Terminal=false
Categories=Office;WordProcessor;TextEditor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;write;notes;text;editor;
StartupWMClass=fmd
